<!DOCTYPE html>
<html lang="en-gb">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Docs | hyeonazzz</title>
    <link rel="stylesheet" href="../static/main.css?ver=0.2" />
    <script src="../static/uikit.js"></script>
</head>

<body>

  <div data-uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent; top: 200">
    <nav class="uk-navbar-container">
      <div class="uk-container">
        <div data-uk-navbar>
          <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo uk-visible@m" href="{{ url_for('index') }}">Docs</a>
            <a class="uk-navbar-toggle uk-hidden@m" href="#offcanvas-docs" data-uk-toggle><span
                data-uk-navbar-toggle-icon></span> <span class="uk-margin-small-left"></span></a>
          </div>
          <div class="uk-navbar-center uk-hidden@m">
            <a class="uk-navbar-item uk-logo" href="{{ url_for('index') }}">Docs</a>
          </div>
        <div class="uk-navbar-right">
          <div>
            <a id="search-navbar-toggle" class="uk-navbar-toggle" data-uk-search-icon href="#"></a>
            <div class="uk-background-default uk-border-rounded"
              data-uk-drop="mode: click; pos: left-center; offset: 0">
              <form class="uk-search uk-search-navbar uk-width-1-1" onsubmit="return false;">
                <input id="search-navbar" class="uk-search-input" type="search" placeholder="Search for answers"
                  autofocus autocomplete="off" data-minchars="1" data-maxitems="30">
              </form>
            </div>
          </div>
          <ul class="uk-navbar-nav uk-visible@m">
            <li>
              <div class="uk-navbar-item">
                <a class="uk-button uk-button-primary-outline" href="{{ url_for('timeline') }}">Timeline</a>
              </div>
            </li>
            <li>
              <div class="uk-navbar-item">
                <a class="uk-button uk-button-success" href="{{ url_for('contact') }}">Contact</a>
              </div>
            </li>
          </ul>
          <a class="uk-navbar-toggle uk-hidden@m" href="#offcanvas" data-uk-toggle> <span class="uk-margin-small-left">≪</span></a>
        </div>
      </div>
    </div>
  </nav>
</div>
<div class="uk-section">
  <div class="uk-container">
    <div class="uk-grid-large" data-uk-grid>
      <div class="sidebar-fixed-width uk-visible@m">
        <div class="sidebar-docs uk-position-fixed uk-margin-top">
          <h5>파이썬 Flask를 통한 AWS 경험하기</h5>
          <ul class="uk-nav uk-nav-default doc-nav">
            <li class="uk-active"><a href="{{ url_for('index') }}">01. AWS 시작하기</a></li>
            <li><a href="{{ url_for('post002') }}">02. 개발환경 구축</a></li>
            <li><a href="{{ url_for('post003') }}">03. Git 저장소 연결</a></li>
            <li><a href="{{ url_for('post004') }}">04. app.py로 HTML 불러오기(1)</a></li>
            <li><a href="{{ url_for('post005') }}">05. app.py로 HTML 불러오기(2)</a></li>
            <li><a href="{{ url_for('post006') }}">06. Flask를 활용한 이메일 보내기</a></li>
            <li><a href="{{ url_for('post007') }}">07. 도메인 적용 및 배포</a></li>
            
          </ul>
        </div>
      </div>
      <div class="uk-width-1-1 uk-width-expand@m">
        <article class="uk-article">
          <h1 class="uk-article-title">01. AWS 시작하기</h1>
          <p class="uk-text-lead uk-text-muted">파이썬 Flask를 통한 AWS 경험하기</p>
          <div class="uk-article-meta uk-margin-top uk-margin-medium-bottom uk-flex uk-flex-middle">
            <div>
              <span>2019.11</span><br>
              <time datetime="2019-11-05">hyeonazzz</time>
            </div>
          </div>
          <div class="article-content link-primary">
            <h5>Flask 를 통한 기능 구현을 배포하기 위해 로컬호스트(Localhost)가 아닌
            AWS EC2를 활용하기</h5>
            <p>프론트엔드와의 통신을 위해 주소를 가지는 서버가 필요합니다.
            <br>AWS (Amazon Web Server)에 가입하여 관리 콘솔로 들어갑니다.</p>
            <p><a href="https://aws.amazon.com/ko/console/">AWS Management Console</a></p>
            <br>
            <blockquote>
              <p>EC2 인스턴스 생성</p>
            </blockquote>
            <P>개방성과 관리측면의 장점을 고려해 리눅스 우분투 서버를 추천합니다.</P>
            <P>이후 General purpose의 프리 티어(Free Tier)로 시작하세요.</p>
            <p>별도의 설정 없이 인스턴스 [시작]을 누르면 키 페어 설정 페이지가 나옵니다.</p>
            <p>KeyPair001 등의 이름을 정해주고 키 페어 다운로드 후 [인스턴스 시작]을 누릅니다.</p>
            <br>
            <hr>
            <blockquote>
              <p>KeyPair 권한 설정</p>
            </blockquote>
            <P>일반적으로 인스턴스 접속은 SSH 명령을 사용합니다.</p>
            <p>접속 이전에 키 페어의 권한 설정 변경이 필요합니다.</p>
            <ul>
              <li>Windows</li>
            </ul>
            <p>Windows 환경인 경우 다운로드 받은 키 페어의 [속성] -> [보안] -> [고급]에 접근하여
            <br>Administrator와 SYSTEM을 제외한 사용자의 상속사용을 해제하고 권한을 제거하면 됩니다.</p>
            <ul>
              <li>Linux</li>
            </ul>
            <p>리눅스의 경우 터미널에서 아래 명령을 입력해 주시면 간단히 적용됩니다.</p>
            <div class="language-bash highlighter-rouge">
              <div class="highlight">
                <pre class="highlight"><code>chmod 400 KeyPair001.pem</code></pre>
              </div>
            </div>
            <br>
            <hr>
            <blockquote>
              <p>EC2 연결 및 실행</p>
            </blockquote>
            <P>이제 CMD(명령 프롬프트)를 관리자 권한으로 실행하고 키페어 경로로 이동하세요.
            <br>EC2의 [연결]탭에 보이는 SSH 명령어를 입력해 줍니다.
            <div class="language-bash highlighter-rouge">
              <div class="highlight">
                <pre class="highlight"><code>cd KeyPair가 저장된 경로
                <br> ssh -i "KeyPair001.pem" ubuntu@ec2-52-79-163-195.ap-northeast-2.compute.amazonaws.com</code></pre>
              </div>
            </div>
          </div>
          <hr class="uk-margin-medium">
          <div class="uk-margin-large-top">
            <h3>Related Docs</h3>
            <ul class="uk-list link-secondary">
              <li><a href="{{ url_for('post002') }}">02. 개발환경 구축</a></li>
              <li><a href="{{ url_for('post003') }}">03. Git 저장소 연결하기</a></li>
              <li><a href="{{ url_for('post004') }}">04. app.py로 HTML 불러오기(1)</a></li>
            </ul>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>

<div id="offcanvas-docs" data-uk-offcanvas="overlay: true">
  <div class="uk-offcanvas-bar">
    <button class="uk-offcanvas-close" type="button" data-uk-close></button>
    <h5 class="uk-margin-top">파이썬 Flask를 통한 AWS 경험하기</h5>
    <ul class="uk-nav uk-nav-default doc-nav">
      <li class="uk-active"><a href="{{ url_for('index') }}">01. AWS 시작하기</a></li>
      <li><a href="{{ url_for('post002') }}">02. 개발환경 구축</a></li>
      <li><a href="{{ url_for('post003') }}">03. Git 저장소 연결하기</a></li>
      <li><a href="{{ url_for('post004') }}">04. app.py로 HTML 불러오기(1)</a></li>
      <li><a href="{{ url_for('post005') }}">05. app.py로 HTML 불러오기(2)</a></li>
      <li><a href="{{ url_for('post006') }}">06. Flask를 활용한 이메일 보내기</a></li>
      <li><a href="{{ url_for('post007') }}">07. 도메인 적용 및 배포</a></li>
    </ul>
  </div>
</div>

<div id="offcanvas" data-uk-offcanvas="flip: true; overlay: true">
  <div class="uk-offcanvas-bar">
    <a class="uk-logo" href="{{ url_for('index') }}">Home</a>
    <button class="uk-offcanvas-close" type="button" data-uk-close></button>
    <ul class="uk-nav uk-nav-primary uk-nav-offcanvas uk-margin-top">
      <li ><a href="{{ url_for('timeline') }}">timeline</a></li>
      <li>
        <div class="uk-navbar-item"><a class="uk-button uk-button-success" href="{{ url_for('contact') }}">Contact</a></div>
      </li>
    </ul>
    <div class="uk-margin-top uk-text-center">
      <div data-uk-grid class="uk-child-width-auto uk-grid-small uk-flex-center">
        <div>
          <a href="https://github.com/hyeonazzz/flaskpy" data-uk-icon="icon: github" class="uk-icon-link" target="_blank"></a>
        </div>
        <div>
          <a href="{{ url_for('timeline') }}" data-uk-icon="icon: history" class="uk-icon-link"></a>
        </div>
        <div>
          <a href="{{ url_for('contact') }}" data-uk-icon="icon: mail" class="uk-icon-link"></a>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="uk-section uk-text-center uk-text-muted">
	<div class="uk-container uk-container-small">
		<div class="uk-margin-medium">
			<div data-uk-grid class="uk-child-width-auto uk-grid-small uk-flex-center">
				<div class="uk-first-column">
					<a href="https://github.com/hyeonazzz/flaskpy" data-uk-icon="icon: github" class="uk-icon-link uk-icon" target="_blank"></a>
				</div>
				<div>
					<a href="{{ url_for('timeline') }}" data-uk-icon="icon: history" class="uk-icon-link uk-icon"></a>
				</div>
				<div>
					<a href="{{ url_for('contact') }}" data-uk-icon="icon: mail" class="uk-icon-link uk-icon"></a>
				</div>
			</div>
		</div>
		<div class="uk-margin-medium uk-text-small copyright link-secondary">Copyright © 2019 hyeonazzz. All rights reserved.
    </div>
	</div>
</footer>


</body>

</html>